<div class="navbar-wagon">
  <%= link_to root_path do %>
    <%= image_tag "logo_initial.png", alt: "logo", width: 150 , id: 'nav-logo' %>
    <div style="display: none;" id="other-img"> <%= image_path 'logo.png' %></div>
    <div style="display: none;" id="init-img"> <%= image_path 'logo_initial.png' %></div>

  <% end %>

  <input class="search-bar" type="text" placeholder="Search..">
  <% if user_signed_in? == false %>
    <div class="navbar-wagon-right">
      <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "Log in", new_user_session_path %> </div>
      <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "Sign up", new_user_registration_path %> </div>
    </div>
  <% else %>
      <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "My bookings",  bookings_path %> </div>
      <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "Add a drone", new_drone_path %> </div>
      <div class= "navbar-wagon-item navbar-wagon-link"><%= link_to "Log out" %> </div>
  <% end %>
</div>

