</br>
</br>
</br>
</br>


<div class="container-dashboard">
  <div class="title-dashboard" >
    <h1> Welcome on your profile <%= current_user.first_name %> </h1>
  </div>
  <div class="dashboard-profile">
    <div class="profile-picture">
      <%= image_tag "avatar.jpg", class: "avatar-xtralarge" %>
    </div>
    <div class="user-information">
      <p> <%= current_user.first_name %>  <%= current_user.last_name %></p>
      <p> email: <%= current_user.email %> Tel: <%= current_user.telephone%></p>
      <p> <%= current_user.birth_date %>  <%= current_user.country_id %></p>
    </div>
    <div class="edit-btn">
      <%= link_to "Edit profile", dashboard_path, class: "btn btn-green" %>
    </div>
  </div>
</div>

<div class="booking-dashboard2">
    <div class="your-bookings">
      <h2> your bookings</h2>
      <%= render 'bookings/booking_cards_dashboard', bookings: @my_bookings %>
    </div>
    <div class="your-drones">
      <h2>your drones</h2>
      <%= render 'drones/drones_cards_dashboard', drones: current_user.drones %>
        <div class="reviews-list">
          <h2>your drones' reviews</h2>
          <div class="review-content">
            <div class="review-row">
                <% current_user.drones.each do |drone| %>
                <div class="a-review">
                  <h4 class="reviewed-drone"><%= drone.title %></h4>

                    <% drone.reviews.each do |rev| %>
                      <p class="review-description"><%= rev.description %></p>
                    <% end %>

                </div>
                <% end %>

            </div>
          </div>
        </div>
    </div>
</div>

