<div class="flex-container">
  <div class="row-child">
    <div class="show-drone">
     <% if !@drone.photos.empty? %>
     <div class="banner-show" style="background-image: url('<%= asset_url(@drone.photos.first&.photo&.url) %>')">
     </div>
     <% else %>
     <div class="banner-show" style="background-image: url('')">
      <% end %>
    </div>
  </div>
</div>


<div class="row-child">
  <div class="flex-container-two">
    <div class="row-child-two">

      <div class="content-show">
        <div class="content-info">
          <h2> <%= @drone.title %> </h2>
          <table>
            <tr>
              <td>Make/Model: </td>
              <td><%= @drone.brand %> <%= @drone.model %></td>
            </tr>
            <tr>
              <td>Size: </td>
              <td><%= @drone.size %></td>
            </tr>
            <tr>
              <td>Weight: </td>
              <td> <%= @drone.weight %></td>
            </tr>             <tr>
              <td>Endurance: </td>
              <td> <%= @drone.endurance %></td>
            </tr>
          </table>
        </div>
        REVIEW :
        <%= Booking.all%>
      </div>
    </div>
    <div class="row-child-two">
      <div class="content-booking">
        <p> <%= @drone.price %> EUR /per day </p>
        <p> Available in <%= @drone.city %> <%= @drone.country %>
        </p>
        <p><%= @drone.address %></p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Rent me!
        </button>
      </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <%= render 'bookings/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>


      <% @drone.photos.each do |photo| %>
      <%= cl_image_tag(photo.photo.url, :width => 200, :height => 250, :crop => :fill) %>
      <% end %>

      <%= link_to "Add picture", new_drone_photo_path(@drone) %>
    </div>
  </div>
</div>
</div>
</div>
</div>
