<br/>
<br/>
<br/>
<h1> Welcome to the profile of <%= @drone.title %> </h1>

<% @drone.photos.each do |photo| %>
  <%= cl_image_tag(photo.photo.url, :width => 200, :height => 250, :crop => :fill) %>
<% end %>

<%= link_to "Add picture", new_drone_photo_path(@drone) %>

    <div class="flex-container show-drone" style="margin-top: 110px;">
      <div class="card text-center">
        <h1>Drent Dris Drone?</h1>
      </div>
      <div class="card text-center">
        <img src="../images/logo.png" alt="Drent">
        <h1> <%= @drone.title %> </h1>
          <ul> Specs
            <li> Make/Model:  <%= @drone.brand %> <%= @drone.model %></li>
            <li> size: <%= @drone.size %></li>
            <li> weight: <%= @drone.weight %></li>
            <li> endurance: <%= @drone.endurance %></li>
          </ul>
          <h2> <%= @price %> EUR /per day </h2>
          <h2> Available in <%= @city %> <%= @country %></h2>
          <p><%= @drone.address %></p>

          <h2> Meet the Droner! </h2>
          <p> <%= @drone.user.first_name %> <%= @drone.user.last_name %></p>
          <p> I am drery happy to droffer you dris here drone from my special collection. Dron't miss out on this droppertunity to dry my drery drool droney dringy. </p>
      </div>
    </div>


<h1> Welcome to the profile of <%= @drone.title %> </h1>

<% @drone.photos.each do |photo| %>
  <%= cl_image_tag(photo.photo.url, :width => 200, :height => 250, :crop => :fill) %>
<% end %>

<%= link_to "Add picture", new_drone_photo_path(@drone) %>


<!-- <ul> Technical information about the <%= @drone.title %>
  <li> brand:  <%= @drone.brand %></li>
  <li> model: <%= @drone.model %></li>
  <li> size: <%= @drone.size %></li>
  <li> weight: <%= @drone.weight %></li>
  <li> endurance: <%= @drone.endurance %></li>
</ul>

<h2> <%= @price %> EUR /per day </h2>
<h2> Available in <%= @city %> in <%= @country %></h2>
<p><%= @drone.address %></p>

<h2> Meet the happy owner of the <%= @drone.title %></h2>
<p> <%= @drone.user.first_name %> <%= @drone.user.last_name %></p>
<p> I am super happy to present you theadd a little text with all that shit </p>

<p> you shoul class button that will pop up the render form </p>
<%  @drone.reviews.each do |review|%>
    <%= review.description  %>
    <%= review.rating  %>
<% end %>

<%= render 'bookings/form', drone: @drone %> -->

