<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>✣ Drent ✣</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.10/css/all.css" %>
</head>
<body>
  <% if controller_name == 'pages' && action_name == 'home'%>
  <%= render 'shared/navbar' %>
  <% else %>
  <%= render 'shared/navbar_main' %>
  <% end %>

    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>


  </div>
        <%= yield %>
  </div>
  <%= render 'shared/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
